/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-link-block-link-block a{
	display: flex;
	display: -webkit-flex;
}
.wp-block-link-block-link-block a>div{
	padding: var(--wp--preset--spacing--20);
}
.wp-block-link-block-link-block a .IconBar{
	grid-column: 1/span 1;
	// background-color:var(--wp--preset--color--accent);
	border-width: 0px 2px 0px 0px;
	border-style: solid;
	border-color: var(--wp--preset--color--contrast);
	width: 2.5rem;
	flex-grow: 0;
	transition: padding 0.5s cubic-bezier(.97,-0.27,.42,1.32);
}
.wp-block-link-block-link-block:hover a .IconBar{
	padding-top: 50%;
	transition: padding 0.5s cubic-bezier(.51,0,.03,1.28);
}
.wp-block-link-block-link-block a .IconBar img{
	max-width: 100%;
	transform: rotate(0deg);
	transform-origin: center;
	aspect-ratio: 1/1 !important;
	transition: transform 0.5s cubic-bezier(.97,-0.27,.42,1.32);
}
.wp-block-link-block-link-block:hover a .IconBar img{
	transform: rotate(360deg);
	transition: transform 0.5s cubic-bezier(.51,0,.03,1.28);
}
.wp-block-link-block-link-block a .BlockCopy{
	grid-column: auto/span 4;
}
